Extension dialog not showing for a PDF link

The following link doesn't trigger the extension dialog to show up:

https://www.st.com/resource/en/datasheet/vl53l1x.pdf

That PDF document can directly be viewed in the browser. The server did not ask the browser to show a download dialog.

If you want to override the server's suggestion, then you can use the following option:

- Tools > Open in Browser > [ x ] Enable for next request

Thank you for your response. The option you mentioned works well, but I'd like to know if I can force the extension dialog to pop up for links like this? This link never opens in my browser no matter if I click on it or paste it to a new tab, and it can even bypass your extension.

Fixed in version 2.10. Please give it a try, and close the issue if it resolves your issue.

> The server did not ask the browser to show a download dialog.

I have to correct myself; the server replied with an unknown `Content-Disposition` response header value (i.e. an unsupported non-standard value).

According to [RFC 6266, section 4.2](https://tools.ietf.org/html/rfc6266#section-4.2), that needs to be treated as a download (i.e. "attachment"):

> Unknown or unhandled disposition types SHOULD be handled by recipients the same way as "attachment"

Confirmed working. Thank you for fixing this! Happy new year!